.catalog {
  margin-top: 190px;

  .catalog-grid {
    margin-top: 30px;
    display: grid;
    gap: 0 35px;
    grid-template-areas:
        "w1 w1 ."
        "w1 w1 s1"
        ". . s1"
        "e1 e1 e1"
        ". w2 w2"
        "s2 w2 w2"
        "s2 . ."
        "e2 e2 e2"
        "s3 s4 s5"
        "s3 s4 s5";
  }

  .grid-item:nth-child(1) {
    grid-area: w1;
  }

  .grid-item:nth-child(2) {
    grid-area: s1;
  }

  .grid-item:nth-child(3) {
    grid-area: e1;
    min-height: 154px;
  }

  .grid-item:nth-child(4) {
    grid-area: s2;
  }

  .grid-item:nth-child(5) {
    grid-area: w2;
  }

  .grid-item:nth-child(6) {
    grid-area: e2;
    min-height: 154px;
  }

  .grid-item:nth-child(7) {
    grid-area: s3;
  }

  .grid-item:nth-child(8) {
    grid-area: s4;
  }

  .grid-item:nth-child(9) {
    grid-area: s5;
  }

  a {
    justify-content: flex-end;
    margin-top: 20px;
  }
}
