.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.form-item {
  margin-bottom: 15px;

  input {
    font-size: 24px;
    line-height: 32px;
    margin-left: 10px;
  }

  &.with-error {
    input {
      border: 1px solid rgb(214, 19, 19);
    }
  }
}

.validation-error {
  color: rgb(214, 19, 19);
}

button {
  width: 150px;
  font-size: 24px;
}